---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Features2 from "../components/Features2.astro";
---

<Layout title="Welcome to Astro.">
  <div class="bg-tea_rose-900 min-h-screen noisy">
    <Navigation />
    <Hero />
    <Features2 />
  </div>
</Layout>
