---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Features2 from "../components/Features2.astro";
import Shapes from "../components/sections/Shapes.astro";
import Gradient from "../components/sections/Gradient.astro";
import SolidColor from "../components/sections/SolidColor.astro";
import Numbers from "../components/Numbers.astro";
import Numbers2 from "../components/Numbers2.astro";
import White from "../components/sections/White.astro";
import Speed from "../components/Speed.astro";
import Pricing from "../components/Pricing.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Nos tarifs">
  <div class="bg-tea_rose-900 min-h-screen noisy">
    <White>
      <Pricing />
    </White>
  </div>
</Layout>
