---
import Button from "./Button.astro";
---

<footer
  class="bg-dark_blue noisy z-0 relative"
  aria-labelledby="footer-heading"
>
  <div class="separator noisy"></div>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div>
        <h3 class="text-sm font-semibold leading-6 text-tea_rose-900">
          Solutions
        </h3>
        <p>
          The latest news, articles, and resources, sent to your inbox weekly.
        </p>
        <p>
          The latest news, articles, and resources, sent to your inbox weekly.
        </p>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-tea_rose-900">
              Solutions
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Marketing</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Analytics</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Commerce</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Insights</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-tea_rose-900">
              Support
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Pricing</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Documentation</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Guides</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >API Status</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-sm font-semibold leading-6 text-tea_rose-900">
              Company
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >About</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Blog</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Jobs</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Press</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Partners</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-tea_rose-900">
              Legal
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Claim</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Privacy</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm leading-6 text-tea_rose-600 hover:text-tea_rose-900"
                  >Terms</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mt-16 border-t border-teatext-tea_rose-900/10 pt-8 sm:mt-20 lg:mt-24 lg:flex lg:items-center lg:justify-between"
    >
      <div>
        <h3 class="text-sm font-semibold leading-6 text-tea_rose-900">
          Subscribe to our newsletter
        </h3>
        <p class="mt-2 text-sm leading-6 text-tea_rose-600">
          The latest news, articles, and resources, sent to your inbox weekly.
        </p>
      </div>

      <div class="mt-4 sm:ml-4 sm:mt-0 sm:flex-shrink-0">
        <Button appearance="white" href="#">Nous contacter</Button>
      </div>
    </div>
    <div
      class="mt-8 border-t border-teatext-tea_rose-900/10 pt-8 md:flex md:items-center md:justify-between"
    >
      <div class="flex space-x-6 md:order-2">
        <p class="mt-8 text-xs leading-5 text-tea_rose-700 md:order-1 md:mt-0">
          &copy; 2020 Your Company, Inc. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>

<style>
  .separator {
    z-index: 0;
    background-image: url(/wave.svg);
    height: 25px;
    transform: rotate(180deg);
    background-size: 40px;
    width: 100%;
    top: -25px;
    position: absolute;
  }
</style>
