---
import { Image } from "astro:assets";
import pc from "../pc.png";
import Button from "./Button.astro";
---

<div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
  <header class="text-tea_rose-900 text-pretty lg:text-left">
    <h2
      class="text-center text-base/7 font-semibold display text-princeton_orange"
    >
      Design personalisé, codé à la main
    </h2>
    <h1 class="text-5xl display font-bold mb-6">
      Webmaster pour petites entreprises
    </h1>
    <p class="mb-10">
      Pas de créateur de site ni de Wordpress. Nous proposons un site web
      personalisé, plus performant, 100% codé à la main à partir de 150 par
      mois.
    </p>
    <div class="flex gap-6 items-center">
      <Button href="#" appearance="outlined">En savoir plus</Button>
      <Button href="#" appearance="secondary">Contactez nous</Button>
    </div>
  </header>
  <Image src={pc} alt="" />
</div>
