---
interface Props {
  delay: string;
  duration: string;
}

const { delay, duration } = Astro.props;
---

<div class="mini-site-nav flex justify-between opacity-0 text-[6px]">
  <span class="font-semibold">★ Entreprise</span>
  <div class="flex gap-2">
    <span>A propos</span>
    <span>Contact</span>
    <span>FAQ</span>
  </div>
</div>
<div
  class="mini-site-content justify-between relative z-0 opacity-0 text-[6px]"
>
  <div class="flex flex-col gap-2 px-2 py-6">
    <span class="text-xs">Entreprise</span>
    <span>Notre super entreprise va vous permette</span>
    <span>de résoudre tous vos problèmes et</span>
    <span>peut-être même plus encore</span>
    <div class="flex items-center gap-2">
      <span class="border border-lime-600 text-lime-600 px-2 py-1 rounded-full"
        >en savoir plus</span
      >
      <span class="bg-lime-600 px-2 py-1 rounded-full">Acheter</span>
    </div>
    <img src="https://picsum.photos/500/500" class="h-10 opacity-0" />
  </div>
  <div class="about flex flex-col px-2 py-6 text-white opacity-0">
    <span class="text-xs">À propos</span>
    <p>
      Je ne voudrais pas rentrer dans des choses trop dimensionnelles, mais, si
      vraiment tu veux te rappeler des souvenirs de ton perroquet, en vérité, la
      vérité, il n'y a pas de vérité et c'est une sensation réelle qui se
      produit si on veut ! Il y a un an, je t'aurais parlé de mes muscles.
    </p>
    <p>
      Ah non attention, tu vois au passage qu'il n'y a rien de concret car il
      faut toute la splendeur du aware et cela même si les gens ne le savent pas
      ! C'est pour ça que j'ai fait des films avec des replicants.
    </p>
  </div>

  <style define:vars={{ delay, duration }}>
    @keyframes appear-nav {
      0% {
        opacity: 1;
      }
      34% {
        width: auto;
      }
      35% {
        width: 100%;
      }
      49% {
        width: 100%;
        background-color: transparent;
      }
      50% {
        width: 100%;
        background-color: rgb(101 163 13);
        justify-items: between;
        opacity: 1;
      }
      59% {
        width: 100%;
        background-color: rgb(101 163 13);
        justify-items: between;
        padding: 0rem;
        opacity: 1;
      }
      60% {
        width: 100%;
        background-color: rgb(101 163 13);
        justify-items: between;
        padding: 0.5rem;
        opacity: 1;
      }
      100% {
        width: 100%;
        background-color: rgb(101 163 13);
        padding: 0.5rem;
        justify-items: between;
        opacity: 1;
      }
    }

    @keyframes appear-content {
      0% {
        opacity: 1;
      }
      34% {
        width: auto;
      }
      35% {
        width: 100%;
      }
      41% {
        height: auto;
        width: 100%;
      }
      42% {
        height: 100%;
        width: 100%;
      }
      49% {
        height: 100%;
        width: 100%;
        background-color: transparent;
      }
      50% {
        height: 100%;
        width: 100%;
        background-color: rgb(107 114 128 / 10%);
        opacity: 1;
      }

      100% {
        height: 100%;
        width: 100%;
        background-color: rgb(107 114 128 / 10%);
        opacity: 1;
      }
    }
    @keyframes appear-about {
      0% {
        opacity: 1;
      }
      34% {
        width: auto;
      }
      35% {
        width: 100%;
      }
      41% {
        gap: 0;
        width: 100%;
      }
      42% {
        gap: 0.5rem;
        width: 100%;
      }
      49% {
        width: 100%;
        gap: 0.5rem;
        background-color: transparent;
      }
      50% {
        width: 100%;
        gap: 0.5rem;
        background-color: #0f766e;
        opacity: 1;
      }

      100% {
        width: 100%;
        gap: 0.5rem;
        background-color: #0f766e;
        opacity: 1;
      }
    }
    @keyframes appear-img {
      0% {
        opacity: 0;
      }

      99% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    .mini-site-nav.animate {
      animation-name: appear-nav;
    }
    .mini-site-content.animate {
      animation-name: appear-content;

      .about {
        animation-name: appear-about;
      }

      img {
        animation-name: appear-img;
      }
    }

    * {
      animation-delay: var(--delay);
      animation-duration: var(--duration);
      animation-timing-function: linear;
      animation-fill-mode: forwards;
    }

    .animate {
      animation-name: appear;
    }

    img {
      z-index: -1;
      position: absolute;
      top: 0;
      height: 100%;
      right: 0;
      width: 100%;
      clip-path: polygon(64% 0, 100% 0, 100% 100%, 34% 100%);
    }
  </style>
</div>
