---
import Eyes from "./Eyes.astro";
---

<div
  id="main-nav"
  class="fixed top-0 w-full z-50 bg-dark_blue noisy pt-10 flex justify-center pb-4"
>
  <nav
    class="flex z-10 justify-between items-center w-full max-w-screen-lg mx-auto px-6 h-14"
  >
    <div class="flex items-center gap-4">
      <Eyes />
      <span class="text-2xl font-bold display text-tea_rose-900">Show Me</span>
    </div>
    <ul class="flex gap-4">
      <li class="pl-4"><a href="/"> Accueil </a></li>
      <li class="pl-4"><a href="/"> FAQ </a></li>
      <li class="pl-4"><a href="/tarifs"> Tarifs </a></li>
      <li class="pl-4"><a href="/"> Contact </a></li>
    </ul>
  </nav>
  <div class="separator bg-dark_blue noisy"></div>
  <div class="separator-shadow"></div>
</div>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    border-radius: 4px;
    font-family: "VogueExtraBold", sans-serif;

    &:hover {
      background-color: #00000050;
    }
  }

  .separator {
    z-index: 1;
    height: 40px;
    mask: url(/wave.svg);
    mask-size: 40px;
    width: 100%;
    top: calc(100% - 1px);
    position: absolute;
  }

  .separator-shadow {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
    height: 40px;
    background-image: url(/wave.svg);
    background-size: 40px;
    width: 100%;
    top: calc(100% - 1px);
    position: absolute;
    filter: drop-shadow(2px 1px 2px rgba(83, 83, 83, 0.462));
  }

  #main-nav {
    transition:
      transform 0.5s ease-in-out,
      padding-bottom 0.5s ease-in-out;
  }
  #main-nav.sticking {
    transform: translateY(-2rem);
    padding-bottom: 0;

    .separator-shadow {
      opacity: 1;
    }
  }
</style>

<script>
  const nav = document.querySelector("div#main-nav");
  document.addEventListener("scroll", function () {
    if (window.scrollY >= 10) {
      nav?.classList.add("sticking");
    } else {
      nav?.classList.remove("sticking");
    }
  });
</script>
