---
import Eyes from "./Eyes.astro";
---

<div class="fixed top-0 w-full z-50 pt-10">
  <nav
    id="main-nav"
    class="flex relative -z-10 justify-between items-center max-w-screen-lg mx-auto px-6 bg-dark_blue noisy"
  >
    <div class="flex items-center gap-4">
      <Eyes />
      <span class="text-2xl font-bold display text-tea_rose-900">Show Me</span>
    </div>
    <ul class="flex gap-4">
      <li class="pl-4"><a href="/"> Accueil </a></li>
      <li class="pl-4"><a href="/"> FAQ </a></li>
      <li class="pl-4"><a href="/"> Tarifs </a></li>
      <li class="pl-4"><a href="/"> Contact </a></li>
    </ul>
  </nav>
</div>

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
    border-radius: 4px;
    font-family: "VogueExtraBold", sans-serif;

    &:hover {
      background-color: #00000050;
    }
  }
  nav {
    top: 0;
    transition:
      top 0.5s ease-in-out,
      border-radius 0.5s ease-in-out;

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      width: 100%;
      border-radius: 2rem;
      left: 0;
      height: 100%;
      box-shadow: var(--shadow-elevation-medium);
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &::after {
      transition: border-radius 0.5s ease-in-out;
    }
  }
  nav.sticking {
    border-radius: 2rem;
    top: -20px;

    &::after {
      border-radius: 2rem;
    }

    &::before {
      opacity: 1;
    }
  }
</style>

<script>
  const nav = document.querySelector("nav#main-nav");
  document.addEventListener("scroll", function () {
    if (window.scrollY >= 10) {
      nav?.classList.add("sticking");
    } else {
      nav?.classList.remove("sticking");
    }
  });
</script>
