---
import MiniSite from "./MiniSite.astro";
---

<div>
  <div class="mx-auto max-w-2xl px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl">
    <div
      class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-[2fr_3fr]"
    >
      <div>
        <div class="border-b border-gray-200 pb-10">
          <h2 class="font-medium text-gray-500">Machined Kettle</h2>
          <p
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Elegant simplicity
          </p>
        </div>

        <dl class="mt-10 space-y-10">
          <div>
            <dt class="text-sm font-medium text-gray-900">Sleek design</dt>
            <dd class="mt-3 text-sm text-gray-500">
              The machined kettle has a smooth black finish and contemporary
              shape that stands apart from most plastic appliances.
            </dd>
          </div>
          <div>
            <dt class="text-sm font-medium text-gray-900">Comfort handle</dt>
            <dd class="mt-3 text-sm text-gray-500">
              Shaped for steady pours and insulated to prevent burns.
            </dd>
          </div>
          <div>
            <dt class="text-sm font-medium text-gray-900">
              One-button control
            </dt>
            <dd class="mt-3 text-sm text-gray-500">
              The one button control has a digital readout for setting
              temperature and turning the kettle on and off.
            </dd>
          </div>
          <div>
            <dt class="text-sm font-medium text-gray-900">Long spout</dt>
            <dd class="mt-3 text-sm text-gray-500">
              Designed specifically for controlled pour-overs that don&#039;t
              slash or sputter.
            </dd>
          </div>
        </dl>
      </div>

      <div>
        <div
          class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-tea_rose-900"
        >
          <div
            class="w-full h-full grid grid-cols-[1fr_36ch] grid-rows-[2rem_3rem_3rem_3rem] gap-x-4 p-4"
          >
            <div class="row-start-1 row-end-2 col-start-2 col-end-3">
              <div
                class="flex justify-between relative -left-1 bg-tea_rose-900 z-20"
              >
                <span class="text-tea_rose">0s</span>
                <span class="text-tea_rose">3s</span>
                <span class="text-tea_rose">6s</span>
                <span class="text-tea_rose">9s</span>
                <span class="text-tea_rose">12s</span>
              </div>
            </div>
            <div
              class="uncover col-start-2 col-end-3 row-start-2 row-end-5 bg-tea_rose-900 z-10"
            >
            </div>
            <div
              class="col-start-1 col-end-3 row-start-1 row-end-2 border-b border-b-tea_rose z-20"
            >
            </div>
            <p
              class="col-start-1 col-end-2 row-start-2 row-end-3 text-right self-center font-bold"
            >
              Nos sites faits main
            </p>
            <!-- 1s = 000 -->
            <span
              class="col-start-2 col-end-3 row-start-2 progress handmade self-center"
              >000</span
            >
            <span
              class="col-start-2 col-end-3 row-start-2 progress lcp handmade self-center"
              >00000</span
            >
            <div
              class="col-start-2 col-end-3 row-start-2 flex justify-between pr-4"
            >
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
            </div>
            <div
              class="col-start-1 col-end-3 row-start-2 row-end-3 border-b border-b-tea_rose z-20"
            >
            </div>
            <p
              class="col-start-1 col-end-2 row-start-3 row-end-4 text-right self-center"
            >
              Wix
            </p>
            <span
              class="progress col-start-2 col-end-3 row-start-3 wix self-center"
              >0000000000</span
            >
            <span
              class="progress col-start-2 col-end-3 row-start-3 lcp wix self-center"
              >000000000000000000000</span
            >
            <div
              class="col-start-2 col-end-3 row-start-3 flex justify-between pr-4"
            >
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
            </div>
            <div
              class="col-start-1 col-end-3 row-start-3 row-end-4 border-b border-b-tea_rose z-20"
            >
            </div>
            <p
              class="col-start-1 col-end-2 row-start-4 row-end-5 text-right self-center"
            >
              Wordpress
            </p>
            <span
              class="progress col-start-2 col-end-3 row-start-4 wordpress self-center"
              >00000000000</span
            >
            <span
              class="progress col-start-2 col-end-3 row-start-4 lcp wordpress self-center"
              >00000000000000000000000000000000000</span
            >
            <div
              class="col-start-2 col-end-3 row-start-4 flex justify-between pr-4"
            >
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
              <span class="time-grid"></span>
            </div>
          </div>
        </div>
        <div
          class="mt-4 grid grid-cols-2 gap-4 sm:mt-6 sm:gap-6 lg:mt-8 lg:gap-8"
        >
          <div
            class="aspect-h-1 aspect-w-1 overflow-hidden relative flex flex-col rounded-lg bg-tea_rose-900 h-[270px]"
          >
            <div
              class="curtain h-full w-full noisy bg-dark_blue-600 absolute top-0 z-30 flex items-center justify-center p-4"
            >
              <p class="display text-rose-100 text-pretty text-center">
                Nos sites faits main
              </p>
            </div>
            <MiniSite delay={"1s"} duration={"0.6s"} />
          </div>
          <div
            class="aspect-h-1 aspect-w-1 overflow-hidden relative flex flex-col rounded-lg bg-tea_rose-900 h-[270px]"
          >
            <div
              class="curtain h-full w-full noisy bg-dark_blue-600 absolute top-0 z-30 flex items-center justify-center p-4"
            >
              <p class="display text-rose-100 text-pretty text-center">
                Sites créés avec un générateur
              </p>
            </div>
            <MiniSite delay={"3.8s"} duration={"6s"} />
          </div>
          <button
            id="start-comparison"
            data-animation-direction="forwards"
            class="bg-tea_rose-900 rounded-full py-2 px-4 text-tea_rose-100 col-span-2 justify-self-center"
            >Démarrer la comparaison</button
          >
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .progress {
    text-decoration: red wavy line-through;
    color: transparent;
    z-index: 5;
    text-decoration-thickness: 4px;
    user-select: none;
    pointer-events: none;

    &::after {
      content: "";
      display: inline-block;
      height: 10px;
      width: 10px;
      background-color: red;
      border-radius: 50%;
      position: relative;
      left: -3px;
      top: -2px;
    }
  }

  .handmade {
    text-decoration-color: #3d0eaf;

    &::after {
      background-color: #3d0eaf;
    }
  }

  .wix {
    text-decoration-color: #ec4e20;

    &::after {
      background-color: #ec4e20;
    }
  }

  .wordpress {
    text-decoration-color: #3a4f41;

    &::after {
      background-color: #3a4f41;
    }
  }

  .lcp {
    opacity: 0.35;
    filter: saturate(0.5);
    z-index: 4;
  }

  .time-grid {
    background-color: #e2c2c6;
    height: 4.5rem;
    position: relative;
    bottom: 50%;
    width: 1px;
    z-index: 11;
  }

  .uncover {
    transition: left 12s linear;
    position: relative;
    left: 0;
    &.animate {
      left: 36ch;
    }
  }

  .curtain {
    transition: transform 0.5s ease-out;

    &.reveal {
      transform: translateY(-100%);
    }
  }
</style>

<script>
  const uncover = document.querySelector(".uncover");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        uncover?.classList.add("animate");
      }
    });
  });
  observer.observe(uncover);

  const startComparison = document.getElementById("start-comparison");
  const curtains = document.querySelectorAll(".curtain");
  const miniSiteComponents = document.querySelectorAll(
    ".mini-site-nav, .mini-site-content"
  );
  startComparison?.addEventListener("click", () => {
    if (startComparison.dataset.animationDirection === "forwards") {
      startComparison.dataset.animationDirection = "backwards";
      startComparison.textContent = "Recommencer la comparaison";
      curtains.forEach((curtain) => {
        curtain.classList.add("reveal");
      });
      miniSiteComponents.forEach((miniSiteComponent) => {
        miniSiteComponent.classList.add("animate");
      });
    } else {
      startComparison.dataset.animationDirection = "forwards";
      startComparison.textContent = "Démarrer la comparaison";
      curtains.forEach((curtain) => {
        curtain.classList.remove("reveal");
      });
      miniSiteComponents.forEach((miniSiteComponent) => {
        miniSiteComponent.classList.remove("animate");
      });
    }
  });
</script>
